/* scss/_variables.scss */
@use "sass:color";
$font-heading: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
$font-body:    "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

$color-text:   #222;
$color-bg:     #DFE8DF;
$color-panel:  #FAFCFA;
$color-border: #DDE7DD;
$color-border2:#CFE0CF;
$color-hover:  #e9e9e9;
$color-green:  #289228;
$color-green-darker: #277927;

$logo-height: 150px;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// === Colores para el gradiente del fondo ===
$bg-white: $color-panel; // #FAFCFA 
$bg-green: $color-bg;    // #DFE8DF 
$bg-mid: color.mix($bg-white, $bg-green, $weight: 70%); // 60% blanco + 40% verde
$bg-green-strong: color.mix($color-green, $bg-green, $weight: 25%);